body{
    background-color: rgb(247, 247, 247);
}
#flexivel{
    background-color:rgb(247, 247, 247);
    width: 98%;
    height: 700px;
    display: flex; 
    justify-content: center; /*alinha a div filha no centro horizontal */
    align-items: center; /* alinha a div filha no centro vertical */
    
}
.botao{
    font-weight: bold;
    background-color: rgb(240, 240, 240);
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-left: 25px;
    border-radius: 200px;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(226, 226, 226)
}
.botao:hover{
    background-color: rgb(114, 114, 114);
    color: white;
}
h2{
  color: blanchedalmond;
}

label{
    color: lightblue;
}

input{
    height: 16px;
    background-color: lightblue;
    border-radius: 200px;
    border: 4px;
    border-color: white;
}

.flex{
    display: flex;
}

.menu{
    background-color: lightblue;
    border-radius: 200px;
    border-color: white;
    border: none;
    width: 70px;
    height: 30px;
}
#titulo{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 32px;
    margin-right: 30px;
    margin-bottom: 50px;
}